<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">

  <h1 class="main-title">Mini To-Do App</h1>
  <p class="subtitle">Organize your tasks beautifully</p>

  <div class="vertical-group">
    <a href="/login" class="btn full">Login</a>
    <a href="/signup" class="btn outline full">Sign Up</a>
  </div>

</div>
</body>
</html>
